.container-blog {
  max-width: 1140px !important;
}

.blog-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg_4.jpg");
  background-size: cover;
  background-position: center;
}
